<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PatientInfoMapper">
   
   <!-- 简单信息映射关系 -->
   <resultMap type="com.example.demo.model.PatientInfo" id="simplePatientInfo">
      <result column="patient_sn" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
      <result column="p_name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="care_level" property="careLevel" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="audit_state" property="auditState" javaType="java.lang.Integer" jdbcType="SMALLINT"/>
      <result column="bein_hospital_times" property="beinHospitalTimes" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
      <result column="in_hospital_no" property="inHospitalNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="out_patient_no" property="outPatientNo" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="patient_type" property="patientType" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="patient_doctor" property="patientDoctor" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="primary_nurse" property="primaryNurse" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="hospitalization_days" property="hospitalizationDays" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
      <result column="diagnose_doctor" property="diagnoseDoctor" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="out_hospital_flag" property="outHospitalFlag" javaType="java.lang.Integer" jdbcType="VARCHAR"/>
   </resultMap>

   <!-- 查询操作 begin -->
   
   <!-- 用于查询所有列 -->
   <sql id="columns">
   		t.patient_sn,p_name,t.care_level,t.audit_state,t.bein_hospital_times,t.in_hospital_no,t.out_patient_no,t.patient_type,
   		t.patient_doctor,t.primary_nurse,t.hospitalization_days,t.diagnose_doctor,t.out_hospital_flag
   </sql>
   
   
   <!-- 查询病人列表数据 -->
   <select id="queryList" parameterType="java.util.Map" resultMap="simplePatientInfo">
     select <include refid="columns"/>  from t_patient_info t,t_person_info d
     where t.person_sn = d.person_sn 
     <if test="outHospitalFlag != null">
        and out_hospital_flag = #{outHospitalFlag} 
     </if>
     <if test="offset != null and pageSize != null">
        limit #{offset},#{pageSize}
     </if>
   </select>
   
   <!-- 查询病人记录总数 -->
   <select id="getTotalCount" parameterType="java.util.Map" resultType="java.lang.Integer">
      select count(*) from t_patient_info 
      where 1=1 
      <if test="outHospitalFlag != null">
        and out_hospital_flag = #{outHospitalFlag} 
      </if>
   </select>
   <!-- 查询操作 end -->
   
   
   <!-- 根据条件查询病人列表 -->
   <select id="queryPatientListByCondition" parameterType="java.util.Map" resultMap="simplePatientInfo">
   		SELECT <include refid="columns"/> FROM t_patient_info t,t_person_info d WHERE t.person_sn = d.person_sn
   		<if test="patientName != null">
   			AND p_name LIKE #{patientName,jdbcType=VARCHAR}
   		</if>
   		<if test="careLevel != null">
   		AND t.care_level =#{careLevel,jdbcType=VARCHAR}
   		</if>
   		<if test="checkStatus != null">
   			AND t.audit_state =#{checkStatus,jdbcType=SMALLINT} 
   		</if>
   		<if test="inHospitalNo !=  null">
   			AND t.in_hospital_no =#{inHospitalNo,jdbcType=VARCHAR}
   		</if>
   		<if test="patientType != null">
   			AND t.patient_type =#{patientType,jdbcType=VARCHAR}
   		</if>
   		<if test="patientDoctor != null">
   			AND t.patient_doctor =#{patientDoctor,jdbcType=VARCHAR}
   		</if>
   </select>
   
   <!-- 删除操作 begin-->
   <delete id="deletePatientById" parameterType="java.lang.Integer">
   		DELETE FROM t_patient_info WHERE patient_sn=#{id,jdbcType=INTEGER}
   </delete>
   
   
   <!-- 新增病人记录 -->
   <insert id="addPitent" parameterType="com.example.demo.model.PatientInfo">
   		INSERT INTO t_patient_info (patient_sn,person_sn,care_level,audit_state,bein_hospital_times,in_hospital_no,patient_type,patient_doctor,
   		hospitalization_days,diagnose_doctor,out_hospital_flag) VALUES(#{id},#{id},#{careLevel},#{auditState},#{beinHospitalTimes},
   		#{inHospitalNo},#{patientType},#{patientDoctor},#{hospitalizationDays},#{diagnoseDoctor},#{outHospitalFlag})
   </insert>
   
</mapper>