<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.model.User">
   
   <!-- 简单信息映射关系 -->
   <resultMap type="com.example.demo.model.User" id="user">
      <result column="user_id" property="id" javaType="java.lang.Long" jdbcType="INTEGER"/>
      <result column="user_name" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
   </resultMap>

   <!-- 查询操作 begin -->
   <!-- 查询病人列表数据 -->
   <select id="queryList" parameterType="java.util.Map" resultMap="user">
     select user_id,user_name,password from sys_user 
     <if test="username != null and password != null">
       where user_name =#{username}
     </if>
   </select>
   <!-- 查询操作 end -->
   
   
   
</mapper>