<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
   
   <!-- 简单信息映射关系 -->
   <resultMap type="com.example.demo.model.User" id="user">
      <result column="user_id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
      <result column="user_name" property="userName" javaType="java.lang.String" jdbcType="VARCHAR"/>
      <result column="password" property="passWord" javaType="java.lang.String" jdbcType="VARCHAR"/>
  	
  	<!-- 这里把user的id传过去 --><!-- 调用子查询 -->
  	 <collection column="user_id" property="roleList"
  	 		select="com.example.demo.mapper.RoleMapper.getRoleListByUserId" >
  	 </collection>
   </resultMap>

   <!-- 查询操作 begin -->
   <!-- 根据用户id查询用户 -->
   <select id="queryUserById" parameterType="java.lang.Integer" resultMap="user">
      SELECT user_id,user_name,password FROM sys_user 
       <if test="userId != null">
        WHERE user_id=#{userId,jdbcType=INTEGER}
     </if>
     
   </select>
   <!-- 查询操作 end -->
   
   <!-- 根据role的id查询对应的用户List -->
   <select id="getUserListByRoleId" parameterType="java.lang.Integer" resultMap="user">
   		SELECT s.user_id,s.user_name,s.password FROM sys_user
   		<if test="roleId != null">
   		s LEFT JOIN sys_user_role u ON s.user_id=u.user_id
   		LEFT JOIN sys_role r ON r.role_id=u.role_id  WHERE r.role_id=#{roleId,jdbcType=INTEGER}
   		</if> 
   </select>
   
   
   
</mapper>